/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

#nav2{
    background-image: none;
    display: flex;
    justify-content: center
}

#nav2 a{
    width: 275px;
}
