/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

#logo{
    background-image: none;
    display: flex;
    justify-content: center
}

#logo a{
    width: 275px;
}
