/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

#logo{
    background-image: none;
    display: flex;
    justify-content: center
}

#logo a{
    width: 275px;
}


/* file upload */
.wufoo-file-upload{
    width: 100% !important;
    height: 150px !important;
}


.wufoo-file-upload-icon img{
     margin: 1rem !important;
}

/* make inputs the same size as question text */

.wufoo li .wufoo-dropdown span, 
.wufoo-dropdown-menu li,
.likert tbody th label,
.wufoo label.choice{
    font-size: 95% !important; 
}

/* margins and random items */
#title6{
     display: none !important;
}

#fo7li6 h3{
    margin-top: 0px !important;
}

section div{
   margin-bottom: 0.5rem !important;
}
